@using Arkanis.Overlay.Common.Models

@if (Model?.LastResult is { IsFailed: true, Errors.Count: > 0 } erroredResult)
{
    @erroredResult.Errors.First().Message
}
else if (Model?.IsAuthenticated == true)
{
    @if (Model.Identity.FindFirst(AccountClaimTypes.AvatarUrl) is { } avatarClaim)
    {
        <MudAvatar Style="height: 32px; width: 32px;">
            <MudImage
                Src="@avatarClaim.Value"
                Alt="Account Avatar"/>
        </MudAvatar>
    }

    <MudText>
        @if (Model.Identity.Name is { } name)
        {
            @name
        }
        else
        {
            <span class="text-secondary">Unknown Account</span>
        }
    </MudText>
}
else if (Model is not null)
{
}
else
{
    <MudSkeleton
        SkeletonType="@SkeletonType.Rectangle"
        Width="120px"/>
}

@code
{

    [Parameter]
    public IExternalAccountContext? Model { get; set; }

}
