<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github.com-ArkanisCorporation" value="https://nuget.pkg.github.com/ArkanisCorporation/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Arkanis.Aspire.Hosting.Extensions.1Password" />
      <package pattern="Arkanis.Aspire.Hosting.Extensions.Kubernetes" />
      <package pattern="Arkanis.Aspire.Hosting.Extensions.Kubernetes.ExternalSecrets" />
      <package pattern="Arkanis.Common.Aspire.ServiceDefaults" />
      <package pattern="Arkanis.Common.Hosting" />
      <package pattern="Arkanis.Common.Observability" />
      <package pattern="Arkanis.Hosting.Extensions.1Password" />
    </packageSource>
    <packageSource key="github.com-ArkanisCorporation">
      <package pattern="Arkanis.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
