name: Coolify Deployment

permissions:
  packages: read

on:
  workflow_call:
    inputs:
      application_name:
        description: "Name of the application that will be deployed"
        required: true
        type: string
      environment_name:
        description: "Name of the environment that will be deployed to"
        type: string
        default: "unknown environment"
    secrets:
      COOLIFY_DEPLOY_URL:
        required: true
      COOLIFY_DEPLOY_UUID:
        required: true
      COOLIFY_DEPLOY_TOKEN:
        required: true

env:
  REGISTRY_NAME: ghcr.io

jobs:
  deploy:
    name: Deploy ${{ inputs.application_name }} to ${{ inputs.environment_name }} (Coolify)
    runs-on: ubuntu-latest
    steps:
    -   name: Deploy to Coolify
        run: |
          curl --request GET '${{ secrets.COOLIFY_DEPLOY_URL }}?uuid=${{ secrets.COOLIFY_DEPLOY_UUID }}' --header 'Authorization: Bearer ${{ secrets.COOLIFY_DEPLOY_TOKEN }}' --fail-with-body
